# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
*.egg-info/
.build/

# Data
data/raw/
data/interim/
data/processed/
!data/.keep

# Notebooks
.ipynb_checkpoints/

# DVC/MLflow (optional)
.dvc/
mlruns/
outputs/*
